@font-face {
  font-family: 'OpenSans-Light';
  font-style: normal;
  font-weight: normal; 
  src: url('../fonts/OpenSans-Light.woff') format('woff'), /* Modern Browsers */
	   url('../fonts/OpenSans-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'OpenSans-LightItalic';
  font-style: normal;
  font-weight: normal; 
  src: url('../fonts/OpenSans-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OpenSans-LightItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  font-style: normal;
  font-weight: normal; 
  src: url('../fonts/OpenSans-SemiBold.woff') format('woff'), /* Modern Browsers */
  	   url('../fonts/OpenSans-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
}
*{
	margin: 0;
	padding: 0;
	list-style:none;
	text-decoration: none;
	box-sizing: border-box;
}
.container{
	max-width: 1185px;
	margin: 0 auto;
}
.header{
	background: url('../img/animated-bg.png') center no-repeat;
	background-size: cover;
}
.header__inner {
	position: relative;
}
.banner__tittle__text{
	text-align: center;
	font-size: 80px;
	color: rgb(255, 255, 255);
	font-family: 'OpenSans-Light';
	font-weight: normal;
}
.Haloa{
	font-family: 'OpenSans-LightItalic';
}
.banner__tittle{
	padding-top: 268px;
    padding-bottom: 542px;
}
.logo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
}
.menu{
	font-family: 'OpenSans-SemiBold';
	font-weight: normal;
	color: white;
	font-size: 16px;
	display: flex;
	text-transform: uppercase;
}
.menu-nav {
	display: flex;
}
/*menu*/

.menu-icon {
  display: flex;
  margin-left: 10px;
	font-size: 0;
	background: none;
	border: none;
	width: 30px;
	height: 25px;
	position: relative;
  cursor: pointer;
}
.menu-icon,
.menu-icon:before,
.menu-icon:after {
  border-top: 3px solid #fff;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.menu-icon:before,
.menu-icon:after {
	position: absolute;
	content: "";
	display: block;
	left: 0;
	right: 0;
}

.menu-icon:before {
	top: 7px;
}

.menu-icon:after {
	top: 17px;
}

.menu-icon.opened {
	border-top-color: transparent;
}

.menu-icon.opened:after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 12px;
}

.menu-icon.opened:before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 12px;
}
.menu-container {
  padding-top: 20px;
  width: 300px;
  position: absolute;
  right: 0;
}
.menu-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'OpenSans-SemiBold';
	font-weight: normal;
}
.menu-container li {
  margin-bottom: 10px;
}
.menu-container a {
  display: block;
  padding: 10px 0;
  color: #fff;
  background: #4F9EC9;
  text-decoration: none;
  text-align: center;
	font-family: 'OpenSans-SemiBold';
	font-weight: normal;
}
.menu-container.closed {
  display: none;
}
.menu-container.opened {
  display: block;
}
.text__information{
	text-align: center;
	white-space:pre-line;
	padding-top: 50px;
}
.h4{
	font-size: 13px;
	color: rgb(212, 175, 55);
	font-family: 'OpenSans-SemiBold';
	font-weight: normal;
}
.h3{
	font-size: 44px;
	color:rgb(2, 23, 37, 0.702);
	font-family: 'OpenSans-SemiBold';
	font-weight: normal;
}
.text{
	font-size: 18px;
	color: rgb(2, 23, 37);
	line-height: 1.7;
	padding-bottom: 45px;
	font-family: 'OpenSans-SemiBold';
	font-weight: normal;
	white-space:pre-line;
}
.button,.button__more,.button__read{
	border: 1px solid #000000;
	background: white;
	color: rgb(2, 23, 37);
	font-size: 14px;
}
.button{
	width: 238px;
	height: 57px;
	font-family: 'OpenSans-SemiBold';
	font-weight: normal;
}
.container__images{
	max-width: 1280px;
	margin: 0 auto;
}
.images__design{
	padding-top: 50px;
	display: flex;
	flex-wrap: wrap;
}
.container__autobiography{
	max-width: 769px;
	margin: 0 auto;
}
.autobiography{
	display: flex;
}
.flex__box{
	background: #f9f9f9;
	flex-basis: 33%;
}
.text_autobiography{
	font-size: 13px;
	color: rgb(2, 23, 37);
	line-height: 1.7;
	font-family: 'OpenSans-SemiBold';
	font-weight: normal;
}
.name{
	font-size: 21px;
	color: rgba(2, 23, 37, 0.702);
	padding-top: 13px;
	padding-bottom: 16px;
	font-family: 'OpenSans-SemiBold';
	font-weight: normal;
}
.box__text{
	padding-top: 8px;
	padding-left: 18px;
	padding-bottom: 31px;
}
.button__read{
	width: 127px;
	height: 48px;
	font-family: 'OpenSans-SemiBold';
	font-weight: normal;
}
.flex__lastpost{
	display: flex;
	background: #f9f9f9;
}
.last{
	padding-top: 42px;
	padding-left: 42px;
	font-family: 'OpenSans-SemiBold';
	font-weight: normal;
}
.h4__lastpost,.h3__lastpost,.text__lastpost{
	color: rgb(80, 93, 104);
}
.h4__lastpost{
	font-size: 13px;
}
.h3__lastpost{
	font-size: 30px;
	padding-top: 20px;
	padding-bottom: 26px;
}
.text__lastpost{
	font-size: 16px;
	line-height: 1.5;
	padding-bottom: 38px;
	white-space:pre-line;
}
.button__more{
	width: 238px;
	height: 57px;
	font-family: 'OpenSans-SemiBold';
	font-weight: normal;
}
.img__mapx{
	max-width: 100%;
}
.img__autobiography{
	max-width: 100%;
}
.img__gallery{
	flex-basis: 25%;
}
.gallery{
	display: block;
	width: 100%;
}
.from__blog{
	text-align: center;
	padding-top: 85px;
	padding-bottom: 80px;
}
.contact{
	background: #f9f9f9;
}
.inforamtion{
	display: flex;
	justify-content: space-between;
	text-align: center;
	line-height: 1.7;
	padding-bottom: 30px;
}
.location,.phone{
	flex-basis:50%;
	white-space:pre-line; 
	font-family: 'OpenSans-SemiBold';
	font-weight: normal;
	color:rgb(80, 93, 104);
}
.addres{
	font-size: 13px;
}
.footer{
	margin-top: 84px;
	background: #f9f9f9;
	font-family: 'OpenSans-SemiBold';
	font-weight: normal;
}
.text__footer{
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 16px;
	color: rgb(80, 93, 104);
}
.flex__footer{
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: 420px){
	.banner__tittle__text{
		font-size: 52px;
	}
	.autobiography{
		display: block;
	}
	.img__autobiography{
		width: 100%;
		padding: 12px;
	}
	.flex__lastpost{
		display: block;
	}
	.img__gallery{
		flex-basis: 50%;
	}
	.gallery{
		display: block;
		width: 100%;
	}
	.fax-email{
		padding-top: 23px;
	}
	.img__mapx{
		padding: 9px;
	}
	.img__lastpost{
		width: 100%;
	}
	.location,.phone{
		font-size: 14px;
	}
	.flex__footer{
		display: block;
	}
	.text__footer{
		padding: 0;
	}
	.last{
		padding-top: 22px;
		padding-left: 6px;
		padding-bottom: 29px;
	}
}
@media screen and (max-width: 480px){
	.autobiography{
		display: block;
	}
	.gallery{
		width: 100%;
	}
	.img__lastpost{
		width: 100%;
	}
	.img__mapx{
		padding: 9px;
	}
	.flex__lastpost{
		display: block;
	}
	.img__lastpost{
		max-width: 100%;
	}
	.flex__footer{
		display: block;
	}
	.text__footer{
		padding: 0;
	}
	.img__autobiography{
		width: 100%;
	}
	.last{
		padding-top: 22px;
		padding-left: 6px;
		padding-bottom: 29px;
	}
}
@media screen and (max-width:638px){
	.img__gallery{
		flex-basis: 50%;
	}
	.gallery{
		width: 100%;
	}
	.autobiography{
		display: block;
	}
	.img__autobiography{
		width: 100%;
	}
	.flex__lastpost{
		display: block;
	}
	.img__lastpost{
		width: 100%;
	}
	.flex__footer{
		display: block;
	}
	.text__footer{
		padding: 0;
	}
	.last{
		padding-top: 22px;
		padding-left: 30px;
		padding-bottom: 29px;
	}
}
@media screen and (min-width: 765){
	.img__gallery{
		width: 100%;
	}
	.gallery{
		width: 50%;
	}
}
